.Timers {
    width: 180px;
    margin: 0 auto;
    text-align: center;
}

#display {
    margin-bottom: 10px;
}
#display span {
    font-size: 20px;
}
#buttons button:nth-child(2) {
    margin-left: 8px;
}

button {
    font-size: 12px;
    background-color: rgb(217, 165, 35);
    color: #fff;
    border-radius: 8px;
    border: none;
    padding: 3px 12px;
    cursor: pointer;
}
button:hover {
    background-color: rgb(173, 47, 28);
}
button:active {
    background-color: rgb(130, 35, 21);
}
button:focus {
    outline: 0;
}